<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @contact.content %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @contact.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @contact.lng %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
