<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Release year:</strong>
  <%= @game.release_year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Poster url:</strong>
  <%= image_tag @game.poster_url, :size=>'240x240' %>
</p>

<%= link_to 'Back', games_path %>
